## mako
<%page expression_filter="h" />
<%namespace name='static' file='static_content.html' />
<%namespace file='main.html' import="login_query" />
<header>

    <div class="container">
        <div class="row">
            <div class="col-3">
                <i class="fa-solid fa-school me-2"></i>Grapecity School
            </div>
        </div>
    </div>
</header>

<header class="navbar navbar-expand-lg navbar-dark bd-navbar sticky-top">
    <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap">
        <a class="navbar-brand p-0 me-0 me-lg-2" href="/">
            <i class="fa-solid fa-school me-2"></i>Grapecity School
        </a>
    </nav>
</header>
