## mako
<%page expression_filter="h" />
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html' />

<section class="home">
    <header class="hero-main hero">
        <div class="tint-dark">
            <div class="grid-container grid-manual">
                <div class="row">
                    <div class="col col-10 sm-col-10 md-col-10 lg-col-8 xl-col-6 text-tint">
                        <p>Lorem ipsum dolor sit amet, ad mea dictas audiam, nec id graecis explicari hasnain</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
</section>
